
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoggerHistory</title>
</head>
<body>
    <div>
        <table border="1">
            <tr bgcolor="lightgrey">

                <th>Name</th>
                <th>Type of Manifestation</th>
                <th>Date</th>
                <th>Paid Price</th>
                <th>UserName</th>
                <th>Status</th>
                <th>Type of Ticket</th>
                <td>Organisator</td>



            </tr>

            @foreach (Projekat.Models.Karta v in ViewBag.Istorija)
            {
        <tr>
            <td>@v.Manifestacija.Naziv</td>
            <td>@v.Manifestacija.TipManifestacije</td>
            <td>@v.Manifestacija.Date</td>
            <td>@v.Naplacena_cena</td>
            <td>@v.Kupac.Username</td>

            @if (@v.Status)
            {
        <td style="color:red">RESERVED</td>}

            <td>
                @*@v.MestoOdrzavanja.Ulica
            @v.MestoOdrzavanja.Broj
            @v.MestoOdrzavanja.Grad
            @v.MestoOdrzavanja.Postanski_Broj*@

                @v.TipaKarte
            </td>
            
            <td>@v.LoggTime</td>

            @*  <td><img src="~/Files/@v.Image_path" style="width:50px; height:50px" /></td>*@

        </tr>
                    
                }
            </table>
    </div>

    <form method="get" action="~/Home/Index">
        <input type="submit" value="Back">
    </form>
</body>
</html>
